@import "tailwindcss";
@theme {
--color-primary-50: hsl(var(--color-primary-50));
--color-primary-100: hsl(var(--color-primary-100));
--color-primary-200: hsl(var(--color-primary-200));
--color-primary-300: hsl(var(--color-primary-300));
--color-primary-400: hsl(var(--color-primary-400));
--color-primary-500: hsl(var(--color-primary-500));
--color-neutral-50: hsl(var(--color-neutral-50));
--color-neutral-100: hsl(var(--color-neutral-100));
--color-neutral-200: hsl(var(--color-neutral-200));
--color-neutral-250: hsl(var(--color-neutral-250));
--color-neutral-300: hsl(var(--color-neutral-300));
--color-neutral-350: hsl(var(--color-neutral-350));
--color-neutral-400: hsl(var(--color-neutral-400));
--color-neutral-500: hsl(var(--color-neutral-500));
--color-body-100: hsl(var(--color-body-100));
--color-body-200: hsl(var(--color-body-200));
--color-body-300: hsl(var(--color-body-300));
--color-body-400: hsl(var(--color-body-400));
--color-body-500: hsl(var(--color-body-500));
--color-body-600: hsl(var(--color-body-600));
--color-success-50: hsl(var(--color-success-50));
--color-success-500: hsl(var(--color-success-500));
--color-warning-50: hsl(var(--color-warning-50));
--color-warning-500: hsl(var(--color-warning-500));
--color-error-50: hsl(var(--color-error-50));
--color-error-500: hsl(var(--color-error-500));
--color-background-0: hsl(var(--color-background-0));
--color-background-1: hsl(var(--color-background-1));
--color-background-50: hsl(var(--color-background-50));
--color-background-100: hsl(var(--color-background-100));
--color-background-150: hsl(var(--color-background-150));
--color-background-200: hsl(var(--color-background-200));
--color-background-250: hsl(var(--color-background-250));
--color-background-300: hsl(var(--color-background-300));
--color-background-350: hsl(var(--color-background-350));
--color-background-400: hsl(var(--color-background-400));
--color-background-500: hsl(var(--color-background-500));
--color-background-600: hsl(var(--color-background-600));
--color-background-700: hsl(var(--color-background-700));
--color-background-800: hsl(var(--color-background-800));
--color-background-900: hsl(var(--color-background-900));
--color-info-50: hsl(var(--color-info-50));
--color-info-500: hsl(var(--color-info-500));
--color-hover-100: hsl(var(--color-hover-100));
--color-hover-200: hsl(var(--color-hover-200));
--color-hover-300: hsl(var(--color-hover-300));
--color-hover-400: hsl(var(--color-hover-400));
--color-link-500: hsl(var(--color-link-500));
--color-link-600: hsl(var(--color-link-600));
--color-disabled-100: hsl(var(--color-disabled-100));
--color-disabled-200: hsl(var(--color-disabled-200));
--color-disabled-300: hsl(var(--color-disabled-300));
--color-disabled-400: hsl(var(--color-disabled-400));
--color-disabled-500: hsl(var(--color-disabled-500));
--color-disabled-600: hsl(var(--color-disabled-600));
--color-chart-50: hsl(var(--color-chart-50));
--color-chart-100: hsl(var(--color-chart-100));
--color-chart-200: hsl(var(--color-chart-200));
--color-chart-300: hsl(var(--color-chart-300));
--color-chart-400: hsl(var(--color-chart-400));
--color-chart-500: hsl(var(--color-chart-500));
--color-chart-600: hsl(var(--color-chart-600));
--color-brand-green-50: hsl(var(--color-brand-green-50));
--color-brand-green-500: hsl(var(--color-brand-green-500));
--color-brand-pink-50: hsl(var(--color-brand-pink-50));
--color-brand-pink-500: hsl(var(--color-brand-pink-500));
--color-brand-purple-50: hsl(var(--color-brand-purple-50));
--color-brand-purple-500: hsl(var(--color-brand-purple-500));
--color-special-50: hsl(var(--color-special-50));
--color-special-500: hsl(var(--color-special-500));
--color-dark-primary-50: hsl(var(--color-dark-primary-50));
--color-dark-primary-100: hsl(var(--color-dark-primary-100));
--color-dark-primary-200: hsl(var(--color-dark-primary-200));
--color-dark-primary-300: hsl(var(--color-dark-primary-300));
--color-dark-primary-400: hsl(var(--color-dark-primary-400));
--color-dark-primary-500: hsl(var(--color-dark-primary-500));
--color-dark-neutral-50: hsl(var(--color-dark-neutral-50));
--color-dark-neutral-100: hsl(var(--color-dark-neutral-100));
--color-dark-neutral-200: hsl(var(--color-dark-neutral-200));
--color-dark-neutral-250: hsl(var(--color-dark-neutral-250));
--color-dark-neutral-300: hsl(var(--color-dark-neutral-300));
--color-dark-neutral-350: hsl(var(--color-dark-neutral-350));
--color-dark-neutral-400: hsl(var(--color-dark-neutral-400));
--color-dark-neutral-500: hsl(var(--color-dark-neutral-500));
--color-dark-body-100: hsl(var(--color-dark-body-100));
--color-dark-body-200: hsl(var(--color-dark-body-200));
--color-dark-body-300: hsl(var(--color-dark-body-300));
--color-dark-body-400: hsl(var(--color-dark-body-400));
--color-dark-body-500: hsl(var(--color-dark-body-500));
--color-dark-body-600: hsl(var(--color-dark-body-600));
--color-dark-success-50: hsl(var(--color-dark-success-50));
--color-dark-success-500: hsl(var(--color-dark-success-500));
--color-dark-warning-50: hsl(var(--color-dark-warning-50));
--color-dark-warning-500: hsl(var(--color-dark-warning-500));
--color-dark-error-50: hsl(var(--color-dark-error-50));
--color-dark-error-500: hsl(var(--color-dark-error-500));
--color-dark-background-0: hsl(var(--color-dark-background-0));
--color-dark-background-1: hsl(var(--color-dark-background-1));
--color-dark-background-50: hsl(var(--color-dark-background-50));
--color-dark-background-100: hsl(var(--color-dark-background-100));
--color-dark-background-150: hsl(var(--color-dark-background-150));
--color-dark-background-200: hsl(var(--color-dark-background-200));
--color-dark-background-250: hsl(var(--color-dark-background-250));
--color-dark-background-300: hsl(var(--color-dark-background-300));
--color-dark-background-350: hsl(var(--color-dark-background-350));
--color-dark-background-400: hsl(var(--color-dark-background-400));
--color-dark-background-500: hsl(var(--color-dark-background-500));
--color-dark-background-600: hsl(var(--color-dark-background-600));
--color-dark-background-700: hsl(var(--color-dark-background-700));
--color-dark-background-800: hsl(var(--color-dark-background-800));
--color-dark-background-900: hsl(var(--color-dark-background-900));
--color-dark-info-50: hsl(var(--color-dark-info-50));
--color-dark-info-500: hsl(var(--color-dark-info-500));
--color-dark-hover-100: hsl(var(--color-dark-hover-100));
--color-dark-hover-200: hsl(var(--color-dark-hover-200));
--color-dark-hover-300: hsl(var(--color-dark-hover-300));
--color-dark-hover-400: hsl(var(--color-dark-hover-400));
--color-dark-link-500: hsl(var(--color-dark-link-500));
--color-dark-link-600: hsl(var(--color-dark-link-600));
--color-dark-disabled-100: hsl(var(--color-dark-disabled-100));
--color-dark-disabled-200: hsl(var(--color-dark-disabled-200));
--color-dark-disabled-300: hsl(var(--color-dark-disabled-300));
--color-dark-disabled-400: hsl(var(--color-dark-disabled-400));
--color-dark-disabled-500: hsl(var(--color-dark-disabled-500));
--color-dark-disabled-600: hsl(var(--color-dark-disabled-600));
--color-dark-chart-50: hsl(var(--color-dark-chart-50));
--color-dark-chart-100: hsl(var(--color-dark-chart-100));
--color-dark-chart-200: hsl(var(--color-dark-chart-200));
--color-dark-chart-300: hsl(var(--color-dark-chart-300));
--color-dark-chart-400: hsl(var(--color-dark-chart-400));
--color-dark-chart-500: hsl(var(--color-dark-chart-500));
--color-dark-chart-600: hsl(var(--color-dark-chart-600));
--color-dark-brand-green-50: hsl(var(--color-dark-brand-green-50));
--color-dark-brand-green-500: hsl(var(--color-dark-brand-green-500));
--color-dark-brand-pink-50: hsl(var(--color-dark-brand-pink-50));
--color-dark-brand-pink-500: hsl(var(--color-dark-brand-pink-500));
--color-dark-brand-purple-50: hsl(var(--color-dark-brand-purple-50));
--color-dark-brand-purple-500: hsl(var(--color-dark-brand-purple-500));
--color-dark-special-50: hsl(var(--color-dark-special-50));
--color-dark-special-500: hsl(var(--color-dark-special-500));
}
.light {
--color-primary-50: #1515150a;
--color-primary-100: #15151533;
--color-primary-200: #15151566;
--color-primary-300: #15151599;
--color-primary-400: #151515cc;
--color-primary-500: #151515ff;
--color-neutral-50: #15151526;
--color-neutral-100: #1515150a;
--color-neutral-200: #15151533;
--color-neutral-250: #15151566;
--color-neutral-300: #15151599;
--color-neutral-350: #151515cc;
--color-neutral-400: #151515ff;
--color-neutral-500: #f6f6f6ff;
--color-body-100: #151515ff;
--color-body-200: #151515cc;
--color-body-300: #ffffffff;
--color-body-400: #ffffffff;
--color-body-500: #151515ff;
--color-body-600: #ffffffff;
--color-success-50: #e6fff5ff;
--color-success-500: #00874cff;
--color-warning-50: #fff6eaff;
--color-warning-500: #ff9000ff;
--color-error-50: #fdececff;
--color-error-500: #e33d3dff;
--color-background-0: #ffffff00;
--color-background-1: #00000026;
--color-background-50: #efefefff;
--color-background-100: #ffffffff;
--color-background-150: #ffffffff;
--color-background-200: #ffffffff;
--color-background-250: #ffffff66;
--color-background-300: #151515ff;
--color-background-350: #15151533;
--color-background-400: #151515e6;
--color-background-500: #15151580;
--color-background-600: #1515151a;
--color-background-700: #1515150d;
--color-background-800: #15151599;
--color-background-900: #ffffffff;
--color-info-50: #ebf8fcff;
--color-info-500: #007bffff;
--color-hover-100: #000000cc;
--color-hover-200: #00000080;
--color-hover-300: #0000001a;
--color-hover-400: #0000000d;
--color-link-500: #151515ff;
--color-link-600: #000000cc;
--color-disabled-100: #15151566;
--color-disabled-200: #15151580;
--color-disabled-300: #15151580;
--color-disabled-400: #15151580;
--color-disabled-500: #15151599;
--color-disabled-600: #000000b3;
--color-chart-50: #28ba8eff;
--color-chart-100: #4fb2f9ff;
--color-chart-200: #d74ff9ff;
--color-chart-300: #f4a124ff;
--color-chart-400: #c6c6c6ff;
--color-chart-500: #ff59acff;
--color-chart-600: #785dffff;
--color-brand-green-50: #49f26433;
--color-brand-green-500: #49f264ff;
--color-brand-pink-50: #fc61ff33;
--color-brand-pink-500: #fc61ffff;
--color-brand-purple-50: #9772ff33;
--color-brand-purple-500: #9772ffff;
--color-special-50: #fdf1ffff;
--color-special-500: #9c27b0ff;

}

.dark {
--color-primary-50: #ffffff14;
--color-primary-100: #ffffff4d;
--color-primary-200: #ffffff99;
--color-primary-300: #ffffffb3;
--color-primary-400: #ffffffcc;
--color-primary-500: #ffffffff;
--color-neutral-50: #232323cc;
--color-neutral-100: #ffffff14;
--color-neutral-200: #ffffff33;
--color-neutral-250: #ffffff66;
--color-neutral-300: #ffffff99;
--color-neutral-350: #ffffffcc;
--color-neutral-400: #ffffffff;
--color-neutral-500: #272727ff;
--color-body-100: #ffffffff;
--color-body-200: #ffffffcc;
--color-body-300: #151515ff;
--color-body-400: #151515ff;
--color-body-500: #151515ff;
--color-body-600: #ffffffff;
--color-success-50: #224235ff;
--color-success-500: #13ce7cff;
--color-warning-50: #553820ff;
--color-warning-500: #ffba30ff;
--color-error-50: #5e1b1bff;
--color-error-500: #ff7070ff;
--color-background-0: #15151500;
--color-background-1: #000000ff;
--color-background-50: #272727ff;
--color-background-100: #151515ff;
--color-background-150: #363636cc;
--color-background-200: #2c2c2ccc;
--color-background-250: #15151599;
--color-background-300: #ffffffff;
--color-background-350: #15151533;
--color-background-400: #ffffffe6;
--color-background-500: #ffffff80;
--color-background-600: #ffffff26;
--color-background-700: #ffffff26;
--color-background-800: #15151599;
--color-background-900: #ffffffff;
--color-info-50: #003063ff;
--color-info-500: #3f9cffff;
--color-hover-100: #ffffffcc;
--color-hover-200: #ffffff80;
--color-hover-300: #ffffff1a;
--color-hover-400: #ffffff0d;
--color-link-500: #ffffffff;
--color-link-600: #ffffffcc;
--color-disabled-100: #ffffff66;
--color-disabled-200: #ffffff80;
--color-disabled-300: #ffffff80;
--color-disabled-400: #ffffff80;
--color-disabled-500: #ffffff99;
--color-disabled-600: #ffffffb3;
--color-chart-50: #28ba8eff;
--color-chart-100: #4fb2f9ff;
--color-chart-200: #d74ff9ff;
--color-chart-300: #f4a124ff;
--color-chart-400: #c6c6c6ff;
--color-chart-500: #ff59acff;
--color-chart-600: #785dffff;
--color-brand-green-50: #49f26426;
--color-brand-green-500: #49f264ff;
--color-brand-pink-50: #fc61ff33;
--color-brand-pink-500: #fc61ffff;
--color-brand-purple-50: #9772ff33;
--color-brand-purple-500: #9772ffff;
--color-special-50: #4f1259ff;
--color-special-500: #ed81ffff;

}
